+++
title = "CVL early adopters call"
linkTitle = "CVL"

+++

{{< blocks/cover title="Cryosphere Virtual Lab" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/application_call" >}}">
		Early Adopters Call <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://cvl.eo.esa.int/metsis/search">
		Search data <i class="fas  fa-globe-africa ml-2"></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Cryosphere Virtual Lab provides a single access point to datasets covering Svalbard and surrounding area.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Use CVL 3D viz locally" url="https://github.com/CryosphereVirtualLab" %}}
Now it is possible to visualize products in 3D without installing libraries locally.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/CryosphereVirtualLab/public-notebooks" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/cvl-eo" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

